<p id="notice"><%= notice %></p>

<p>
  <strong>Class1:</strong>
  <%= @linear_model.class1 %>
</p>

<p>
  <strong>Class2:</strong>
  <%= @linear_model.class2 %>
</p>

<p>
  <strong>Model:</strong>
  <%= @linear_model.model %>
</p>

<%= link_to 'Edit', edit_linear_model_path(@linear_model) %> |
<%= link_to 'Back', linear_models_path %>
